<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.kuntok.com/">Product</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.facebook.com/WaylinLimCN/">Facebook</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.linkedin.com/in/waylin-lim-39a4b5110/">Linkedin</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://mdgw.alipay.com/wsdk/img?fileid=A*3VMBTLYKvsgAAAAAAAAAAABjAQAAAQ&t=tvtfGcXsb-2GKx49n_NmXwAAAABkJyAAAAAA&bz=am_afts_morderprod&zoom=original/"> Donation <i class="fa fa-coffee text-danger"></i></a>
</li>
