<h5 class="mb-3">Waylin Hobby Time</h5>

<p>Hi! The website you're currently previewing. I hope you like it!, hosted on Github, made by <a href="https://www.supplied-from-china.com/authors-list.html/">Waylin Lim</a>.</p>

<a target="_blank" href="https://www.kuntok.com/catalogue/" class="btn btn-warning d-block mb-2"><i class="fa fa-file"></i> Documentation</a>

<a target="_blank" class="btn btn-danger d-block" href="https://mdgw.alipay.com/wsdk/img?fileid=A*3VMBTLYKvsgAAAAAAAAAAABjAQAAAQ&t=tvtfGcXsb-2GKx49n_NmXwAAAABkJyAAAAAA&bz=am_afts_morderprod&zoom=original/"><i class="fa fa-coffee"></i> Buy me a coffee</a> 
